appdirs
audioread
certifi
cffi
charset-normalizer
Cython
decorator
espnet
h5py
humanfriendly
idna
jaconv
joblib
librosa
llvmlite
numba
numpy
packaging
pooch
pycparser
pydantic
pyopenjtalk @ git+https://github.com/VOICEVOX/pyopenjtalk
pyparsing
pyworld
PyYAML
requests
resampy
scikit-learn
scipy
sentencepiece
six
SoundFile
threadpoolctl
torch
torchaudio
torch-complex
tqdm
typeguard
typing_extensions
urllib3